.feature{
    background: rgb(0, 121, 230);
    background: linear-gradient(0deg , rgba(0,121,230,1)0%, rgba(0,250,255,1)90%);
}
*{
    scroll-behavior: smooth;
   }
.backtop{
    float: right;
}

#cc{
    background: rgb(155, 177, 196);
    background: linear-gradient(0deg , rgb(205, 188, 164)0%, rgb(133, 234, 234)90%)
}

#co{
    background: rgb(155, 177, 196);
    background: linear-gradient(0deg , rgb(205, 188, 164)0%, rgb(133, 234, 234)90%)
}